@import './transition.scss';

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1.4;
    color: #BEDAF1;
    box-sizing: border-box;
}

a {
    color: #f6fafc;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.remix {
    font-size: 28px;
    color: $themeColoe;
    fill: $themeColoe;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.flex-box {
    display: flex;
    align-items: center;

    .flex-box-item {
        flex: 1;
    }

    .number {
        color: $themeWhiteColoe;
        font-weight: 400;
        font-size: 18px;
    }

    .title {
        font-size: 12Px;
    }

    .flex-box-item {
        padding: 2px 0;
    }

    .flex-box-line-row {
        flex: 1;
        display: flex;
        align-items: center;
    }

    // 线条渐变
    .flex-box-item-line {
        flex: 1;
        padding: 2px 4px;
        background: transparent;
        border: 1px transparent solid;
        border-image: $base-theme-gradient 1 4;

        &.flex-box {
            justify-content: space-around;
        }

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}